<launch>
    <arg name="namespace" default="task_trees" doc="The namespace for the project" />
    <arg name="use_gui" default="false" />
    <arg name="use_rviz" default="true" /> 
    <arg name="default" default="true" /> 
    <arg name="sim_robot" default="true" />          

    <group if="$(arg default)">
        <node pkg="robotarchi" type="robot_server_agent.py" name="robot_server_agent" output="screen">
        </node>
    </group>

    <group if="$(arg sim_robot)">
        <include file="$(find ur10_scene_config)/launch/demo.launch">
            <arg name="use_gui" default="$(arg use_gui)" />
            <arg name="use_rviz" default="$(arg use_rviz)" />
        </include>
    </group>
</launch>   